h5.categorias{
	color:#666666;
}

#logop {
	width: 290px;
	height: 50px;
	margin-bottom: 5px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
}

#logop img{
	
}

#logop a {
	display: block;
	width: 100%;
	height: 100%;
}

#logop a > span {
	display: none;
}

.menu{

	padding: 0;
	margin: 0;
}

.main-menu{
	list-style-type: none;
	list-style-position: inside;
}

.main-menu li {
	/*display: block;
	float: left;
	padding: 0 32px 0 10px;*/
	/*border-left: 1px solid #858585;*/
}

.main-menu li:first-child {
	padding-right: 0;
}

.main-menu a {
	color: #666666;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	padding: 0 14px;
	display: block;

}

.main-menu a:hover {
	color: #fff;
	background-color:#f2445f;
	transition: color 150ms ease-in-out,background-color 250ms ease-in-out;
	-moz-transition: color 150ms ease-in-out,background-color 250ms ease-in-out;
	-ms-transition: color 150ms ease-in-out,background-color 250ms ease-in-out;
	-webkit-transition: color 150ms ease-in-out,background-color 250ms ease-in-out;
	-o-transition: color 150ms ease-in-out,background-color 250ms ease-in-out;
}

.clear{

	clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

span .obligatorio{
	color: #fb1706;
}

#selector{

	float: right;

}





.igree{
	color:#f2445f;
	font-weight: bold;

}

/**Menu anterior V1**************************/
/*.menu 
{ 
	list-style-type: none;
	list-style-position: inside;
} 

.menu li 
{ 
        float: left; 
        padding: 0 0 10px 0; 
        position: relative; 
} 

.menu a 
{ 
        float: left; 
        height: 25px; 
        padding: 0 25px; 
        color: #666666; 
        text-transform: uppercase; 
        font: bold 12px/25px Arial, Helvetica; 
        text-decoration: none; 
        /*text-shadow: 0 1px 0 #000;*/
/*} 



.menu .cate 
{ 
        float: left; 
        height: 25px; 
        padding: 0 25px; 
        color: #666666; 
        text-transform: uppercase; 
        font: bold 12px/25px Arial, Helvetica; 
        text-decoration: none; 
        /*text-shadow: 0 1px 0 #000;*/
/*} 

.menu li:hover > a.cate 
{ 
        color: #666666; 
} 

.menu li:hover > a 
{
        color: #fafafa; 
} 

*html .menu li a:hover /* IE6 */ 
/*{ 
        color: #fafafa; 
} 

.menu li:hover > ul 
{ 
        display: block; 
} 

/* Sub-menu */ 

/*.menu ul 
{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: none; 
    position: absolute; 
    top: 35px; 
    left: 0; 
    z-index: 99999; 
    background: #f67085; 
    background: -moz-linear-gradient(#f67085, #f2445f); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f67085),color-stop(1, #f2445f)); 
    background: -webkit-linear-gradient(#f67085, #f2445f); 
    background: -o-linear-gradient(#f67085, #f2445f); 
    background: -ms-linear-gradient(#f67085, #f2445f); 
    background: linear-gradient(#f67085, #f2445f); 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
} 

.menu ul li 
{ 
    float: none; 
    margin: 0; 
    padding: 0; 
    display: block; 
    -moz-box-shadow: 0 1px 0 #f67085, 0 2px 0 #f67085 
    -webkit-box-shadow: 0 1px 0 #f67085, 0 2px 0 #f67085; 
    box-shadow: 0 1px 0 #f67085 0 2px 0 #f67085; 
} 

.menu ul li:last-child 
{ 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
} 

.menu ul a 
{ 
    padding: 10px; 
        height: auto; 
    line-height: 1; 
    display: block; 
    white-space: nowrap; 
    float: none; 
        text-transform: none; 
} 

*html .menu ul a /* IE6 */ 
/*{ 
        height: 10px; 
        width: 150px; 
} 

*:first-child+html .menu ul a /* IE7 */ 
/*{ 
        height: 10px; 
        width: 150px; 
} 

.menu ul a:hover 
{ 
    background: #f2445f; 
        background: -moz-linear-gradient(#f67085,  #f2445f); 
        background: -webkit-gradient(linear, left top, left bottom, from(#f67085), to(#f2445f)); 
        background: -webkit-linear-gradient(#f67085,  #f2445f); 
        background: -o-linear-gradient(#f67085,  #f2445f); 
        background: -ms-linear-gradient(#f67085,  #f2445f); 
        background: linear-gradient(#f67085,  #f2445f); 
} 

.menu ul li:first-child a 
{ 
    -moz-border-radius: 2px 2px 0 0; 
    border-radius: 2px 2px 0 0; 
    
} 

.menu ul li:first-child a:after 
{ 
    content: ''; 
    position: absolute; 
    left: 30px; 
    top: -8px; 
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 8px solid #f2445f); 
} 

.menu ul li:first-child a:hover:after 
{ 
    border-bottom-color: #f2445f); 
} 

.menu ul li:last-child a 
{ 
    -moz-border-radius: 0 0 5px 5px; 
    border-radius: 0 0 5px 5px; 
} 

/* Clear floated elements */ 
/*.menu:after 
{ 
        visibility: hidden; 
        display: block; 
        font-size: 0; 
        content: " "; 
        clear: both; 
        height: 0; 
} 

* html .menu             { zoom: 1; } /* IE6 */ 
/**:first-child+html .menu { zoom: 1; } /* IE7 */ 

/*.menu ul li:first-child a:after 
{ 
    content: ''; 
    position: absolute; 
    left: 30px; 
    top: -8px; 
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-bottom: 8px solid #f2445f); 
} 

.menu ul li:first-child a:hover:after 
{ 
    border-bottom-color: #f67085; 
} */
/**Menu anterior V1**************************/





/****STYLE MENU RESPONSIVO ***********************************/

/* WIDTH SETTING */

.nav-hold{
	width:95%;
	max-width:1000px;	
	margin:0 auto;
}


/* NAVIGATION */

.textmenu{
	display: none;
}

.nav-bar {

/*	width:100%;*/
	width:100%;
/*	margin: 0 auto;*/
	background: #f67085; /* Old browsers */
background: -moz-linear-gradient(top,  #f67085 0%, #f2445f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f67085), color-stop(100%,#f2445f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f67085 0%,#f2445f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f67085 0%,#f2445f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f67085 0%,#f2445f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f67085 0%,#f2445f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f67085', endColorstr='#f2445f',GradientType=0 ); /* IE6-9 */

}
.nav-hold {
	overflow:hidden;
}

.nav-list {
	
}

.nav-list {
	list-style: none;
	margin-bottom: 0;
	float:left;
}



.nav-list li {
	float:left;
	
}
.nav-list li a {
	display:block;
	padding:10px 15px;
	color:#f9f9f9;
}


.nav-list li a:hover {
		
		background: #f2445f;
}

.nav-menu {
	display:none;
}





/*Media query*/


@media screen and (max-width:767px) {


.container p {
		columns:1;
		-webkit-columns:1;
		-moz-columns:1;
		-o-columns:1;
		-ms-columns:1;
	}
	/* NAV MQ _ MOBILE */
	
	.textmenu{
		float:left;
		color:#f9f9f9;
		display:block;
		padding:10px 0 0 10px;
	}
	
	.nav-menu {
		float:right;
		color:#f9f9f9;
		display:block;
		padding:15px 10px; /*Alto menu responsivo*/
	}
	
	
	ul{
		margin-bottom: 0;
	}
	.nav-list {
		display:none;
		
	}
	.nav-open {
		float:left;
		width:100%;
		display:block;
	}
	.nav-list li {
		width:100%;
	}
	.nav-list li a {
		display:block;
		padding:10px 10px; /*Interlineado opciones menu*/
		color:#f9f9f9;
		width:100%;
	}
	
	
	.nav-list li a:hover {
		color:#fafafa;
		background: #f2445f;
	}



/****STYLE MENU RESPONSIVO ***********************************/







